<div class="container">
    <h3 align="center"><%= @article.title %></h3>
    <div class="row padding-bottom">
        <div class="col-xs-8 col-xs-offset-2">  
            <%= simple_format(@article.description) %>
            <div class="article-actions padding-bottom">
                <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
                    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-default" %>
                    <%= link_to "Delete", article_path(@article), method: :delete, 
                                                    data: { confirm: "Are you sure?" }, 
                                                    class: "btn btn-xs btn-default" %>
                <% end %>
                <%= link_to "View All", articles_path, class: "btn btn-xs btn-default" %>
                
            </div>
        </div>
    </div>
    <div class="row" align="center">
        <div class="col-xs-8 col-xs-offset-2">
            <% if @article.user %>
            <ul class="listing">
                <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
                <li class="article-title">
                    <%= link_to @article.user.username, user_path(@article.user) %>
                </li>
                <li>
                    <small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small>
                </li>
            </ul>
            <% end %>
        </div>
    </div>
</div>