<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="Alpha Blog" content="Free Web Blog powered by Rails">
  <meta name="keywords" content="Rails,Ruby,Blog,Post">
  <meta name="author" content="Julie Fang">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!--Facebook-->
  <meta property="og:url" content="https://alpha-blog-juliem.herokuapp.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Julie's Alpha Blog" />
  <meta property="og:description" content="How much does culture influence creative thinking?" />
  <meta property="og:image" content="https://source.unsplash.com/j6oh9UjXvaU" />
  
  <title>Alpha Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <div class="container">
    <%= render 'layouts/messages' %>
  </div> 
  
  <%= yield %>

  <%#= debug(params) if Rails.env.development? %>
</body>
</html>
